<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto Prov Customer Template</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <form method="POST" class="post-form">
        {% csrf_token %}
        <h1 align="center">Customer Template</h1>
        <table>
            {{ customer_form.as_table }}
        </table>
        <div id="additional-fields"></div>
        <button type="submit" class="save btn btn-default" id="save-button" style="display: none;">Save</button>
    </form>

    <script>
        $(document).ready(function() {
            $('#id_service_Type').change(function() {
                var serviceType = $(this).val();
                $.ajax({
                    url: "{% url 'get_additional_fields' %}",
                    data: {
                        'service_type': serviceType
                    },
                    success: function(data) {
                        $('#additional-fields').html(data.html);
                        $('#save-button').show();
                    },
                    error: function(xhr, status, error) {
                        console.log('AJAX Error: ' + status + error);
                    }
                });
            });
        });
    </script>
</body>
</html>
